* {
    margin: 0;   
}

body, button {
    font-family: 'Karla', sans-serif; 
}

main {
    background-color: hsl(204, 43%, 93%);
    padding: 4rem 1.7rem;
}

.container{
    box-shadow: 0 0 0.5rem 0.05rem hsl(0, 0%, 85%);    
}

/* Upper section styles */

.intro {
    background-color: hsl(0, 0%, 100%);    
    border-radius: 0.3rem 0.3rem 0 0;
    padding: 2rem 1.6rem;
}

.intro > h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
}

.intro > h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin: 1.5rem 0;
}

.intro > p {
    font-size: 0.85rem;
    font-weight: 400;
    color: hsl(218, 22%, 75%);
    line-height: 1.75;
}

/* Middle and Lower section common styles */

.pricing, .why{
    padding: 1.6rem 1.6rem;
}

.pricing > h1, .why > h1 {
    font-size: 1.15rem;
    font-weight: 700; 
    color: hsl(0, 0%, 100%); 
    margin-bottom: 1rem; 
}

/* Middle Section */

.pricing, .pricing > mark{
    background-color: hsl(179, 62%, 43%);
}

.pricing > mark {
    font-size:2rem;
    font-weight: 700;
    color:hsl(0, 0%, 100%);    
    vertical-align: middle;     
}

.pricing > span {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(179, 47%, 70%);  
    margin: 0 0.6rem;     
}

.pricing > p {
    font-size: 1rem;
    font-weight: 400;
    color:hsl(179, 47%, 85%);
    margin: 1rem 0 1.5rem;
}

.pricing > button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: hsl(0, 0%, 100%); ;
    font-size: 1rem;
    background:  hsl(71, 73%, 54%);
    text-decoration: none;
    border: none;  
    width: 100%;
    padding: 1rem; 
    box-shadow: 0 0 0.5rem 0.05rem hsl(179, 47%, 40%);    
    cursor: pointer;
}

.pricing button:hover{
    background: hsl(71, 87%, 44%);
}

/* Lower Section */

.why{
    background-color: hsl(179, 47%, 52%);
    border-radius: 0 0 0.3rem 0.3rem;
}

.why > ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    color: hsl(179, 47%, 85%);
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size:1rem
}

footer{
    text-align: center;
    font-size: 0.75rem;
}

@media (min-width: 950px)
{   
    body{
        height: 100vh;
        display:flex;
        flex-flow: column wrap;
    }

    main { 
        flex: 90 1 auto; 
        padding: 0;    
        display: flex;
        align-items: center;
        justify-content: center;
    }   

    .container{         
        display: flex;   
        flex-flow: row wrap;
        width:35%;        
    }

    /*Upper section*/

    .intro{
        flex: 2 1 auto;
        padding: 2.5rem;
        
    }

    .intro > h1 {
        font-size: 1.6rem;
    }

    .intro > h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .intro p {
        font-size: 1rem;
    }

    /* Lower sections common styles*/      

    .pricing, .why{
        width: 25%;
        flex: 1 1 auto;
        padding: 2.5rem;        
    }

    /*Lower sections individual styles*/

    .pricing{
        border-radius: 0 0 0 0.3rem;
    }

    .pricing > p {      
        margin: 0.7rem 0 1.9rem;
    }

    .why {
        border-radius: 0 0 0.3rem 0;
    }

    .why > ul {
        margin: 0;
        font-size: 0.9rem
    }

    footer {        
        flex: 1 1 auto;
    }
   
}