/* Ssome global variables */
:root{
    --white: hsl(0, 0%, 100%);
    --bright-yellow: hsl(71, 73%, 54%);
    --cyan: hsl(179, 62%, 43%);
    --light-gray:hsl(204, 43%, 93%);
    --light-cyan:hsl(179, 47%, 52%); 
    --lightest-cyan: hsl(179, 47%, 85%);
    --grayish-blue: hsl(218, 22%, 67%);
    --blueish-gray: hsl(228, 45%, 44%);
    --darker-cyan: hsl(179, 47%, 40%);
}

/* Global elements: set some global parameter values */

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;    
}

html{
    height: 100%;
}

/*The body element is a grid that is composed of the main element and a footer.  */

body{
    height: 100%;
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 9fr 82fr 9fr;
    grid-template-rows: 8.5fr 83fr 6.5fr 2fr;
}

/* main is a grid into which we fit each of the three divs that make up the single price component. */
/* These are sections intro, price and why */

main{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 37fr 31.5fr 31.5fr;
}

/* intro styling */

.intro{
    background-color: var(--white);
    padding: 1.4rem 1.4rem;
}

.intro > h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--cyan);
    margin-bottom: 1rem; 
}

.intro > h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--bright-yellow); 
    margin-bottom: 1rem;
}

.intro > p {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--grayish-blue);
    line-height: 1.5rem;    
}

/* price styling */

.price {
    background-color: var(--cyan);
    color: var(--white);
    padding: 1.4rem 1.4rem;
}

.price > h1 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.pricing1 {
    font-size:2rem;
    font-weight: 700;  
    vertical-align: middle; 
    background-color: var(--cyan);
    color: var(--white);    
    margin-bottom: 0.2rem;
}

.pricing1 > span {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.5;
    padding: 1rem;    
    vertical-align: middle;
}

.pricing2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    opacity: 0.7;
    margin-bottom: 1.25rem;
}

.price > button {    
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    background:  var(--bright-yellow);
    text-decoration: none;
    border: none;  
    width: 100%;
    margin: auto;
    padding: 1rem; 
    box-shadow: 0 0 0.5rem 0.05rem var(--darker-cyan);
    cursor: pointer;
}

/* why styling */

.why {
    background-color: var(--light-cyan);
    color: var(--white);
    padding: 1.4rem 1.4rem;  
} 

.why > h1 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.why > ul {
    list-style-type: none;
    opacity: 0.5;     
    line-height: 1.15rem;
}

.why > ul > li {
    font-size: 0.8rem;
}

/* Footer styles: footer is a flexbox: this makes it easier to center its content both horizontally and vertically */

footer{
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color:var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
}

.attribution{
    font-size: 0.7rem;
}

.attribution a {
    color: var(--blueish-gray);
} 



/* body{
    height: 100%;
    background-color: hsl(204, 43%, 93%);
    display: grid;
    grid-template-columns: 28fr 44fr 28fr;
    grid-template-rows: 20.15fr 55.7fr 20.15fr 4fr;
} */

/* Main styles: main is a grid into which we fit each of the three divs that make up the single price component. */
/* those are divs intro, price and why */

/* main{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 45fr 55fr;
} */

/* intro styling */

/* .intro{
    grid-column: 1 / span 2;
    background-color: hsl(0, 0%, 100%);
} */

/* .intro > h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
} */

/* .intro > h2 {
    font-size: 0.9rem;
    font-weight: 700;
    color: hsl(71, 73%, 54%);
    margin: 1.5rem 0;
} */

/* .intro > p {
    font-size: 0.85rem;
    font-weight: 400;
    color: hsl(218, 22%, 75%);
    line-height: 1.75;
} */

/* price Styling */

/* .price{
    grid-column: 1;
    grid-row: 2;
    background-color: hsl(179, 62%, 43%);
} */

/* .why{
    grid-column: 2;
    grid-row: 2;
    background-color: hsl(179, 47%, 52%);
} */

/* Footer styles: footer cons */

/* footer{
    grid-column: 1 / span 3;
    grid-row: 5;
    background-color: hsl(0,0%,100%);
    display:flex;
    justify-content: center;
    align-items: center;
} */

/* .attribution{
    font-size: 0.7rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */